.pagination > li > a,
.pagination > li > span {
    color: #008577;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #008577;
    border-color: #008577;
}

.pagination > .active > a
{
    color: white;
    background-color: #008577 !Important;
    border: solid 1px #008577 !Important;
}
